@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
:root{
    --cor-primaria-background:linear-gradient(135deg, rgb(86, 213, 245), rgba(255, 255, 255, 0.692),rgba(255, 183, 75, 0.447));
    --fonte-principal:'Roboto', sans-serif;
    --fonte-titulo: 'Fira Sans', sans-serif;
    --cor-texto:rgb(26, 2, 2);
    --cor-titulo:#00000079;
    --cor-secundaria-background:linear-gradient(135deg, rgb(16, 114, 234), rgba(255, 230, 206, 0.608),rgba(246, 153, 65, 0.608)) ;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background: var(--cor-primaria-background);
}

main{
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 3%;
}

.cabecalho{
    background: var(--cor-secundaria-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    gap: 25vh;
    
}
.paginas{
    display: flex;
    flex-direction: row;
    gap: 20vh;
}

.img-cabecalho{
    height:100%;
    width: 20%;

}
.link-cabecalho{
    position: relative;
    display: inline-block;
    color:var(--cor-texto); 
    overflow: hidden; 
    z-index: 1; 
    transition: color 0.4s ease; 
    font-size: 2.3vh;
    font-family: var(--fonte-titulo);
}
.link-cabecalho::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; 
    height: 20%; 
    background-color: #ff840074; 
    z-index: -1; 
    transition: width 0.5s ease; 
}

.link-cabecalho:hover{
   color: #236e6d
}

.link-cabecalho:hover::before{
    width: 100%;
}


.telefone-email{
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    background-color: var(--cor-secundaria-background);
    justify-content: end;
    gap: 15vh;
    padding:0  10vh;
    height: 5vh;
    padding-top: 1.3vh;
}

header h1{
    font-size: 5vh;
    display: flex;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    background: linear-gradient(90deg, #0082b1, #ffb7277f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
header h2{
    display: flex;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    background: linear-gradient(90deg, #0082b1, #ffb7277f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.texto-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragrafo-index{
    display: flex;
    justify-content: center;
    font-style: oblique;
    margin-top: 6vh;
    color: #ff985d;
    font-family: var(--fonte-principal);

}
.destinos-botao-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    flex-direction: column;
}
.ofter-trip{
    display: flex;
    gap: 20px;
    

}
.botao-lugar{
    border: 2px solid #000000;
    padding: 1vh;
    border-radius: 15px;
    background-color: #00b7ff;

}



