* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
:root{
    --cor-primaria-background:linear-gradient(135deg, rgb(86, 213, 245), rgba(255, 255, 255, 0.692),rgba(255, 183, 75, 0.447));
    --cor-texto:rgb(26, 2, 2);
    --cor-secundaria-background:linear-gradient(135deg, rgb(16, 114, 234), rgba(255, 230, 206, 0.608),rgba(246, 153, 65, 0.608)) ;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background: var(--cor-primaria-background);

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho{
    background: var(--cor-secundaria-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    gap: 25vh;
}

.img-cabecalho{
    height:100%;
    width: 25%;
}

.telefone-email{
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    background-color: var(--cor-secundaria-background);
    justify-content: end;
    gap: 10vh;
    padding-right: 100px;
    border: 1px solid #000000;
}
footer{
    height:1px;
}